In [158]:
import yahoo_fin.stock_info as si
import math
from datetime import datetime, timedelta

In [159]:
def listToString(List_Name): 
    
    # initialize an empty string
    string = "" 
    
    # traverse in the string  
    for i in List_Name: 
        string += i  
    
    # return string  
    return string

In [160]:
#Location for all the variables 
stored_days_adjclose_price = []
Number_of_stock_prices = 365
ticker_symbol = 'ebay'

#Getting the date of the inital time
Initial_Date = datetime.now() - timedelta(days = Number_of_stock_prices+1)
Initial_Date = str(Initial_Date)

#Putting the initial date into variables 
year = Initial_Date[0:4]
month = Initial_Date[5:7]
day = Initial_Date[8:10]

#Putting it altogether to get the Initial Date properly
Initial_Date = day + '/' + month + '/' + year
Initial_Date

'09/05/2020'

In [161]:
Ticker_adjclose = si.get_data('ebay', start_date = Initial_Date)
Open_Stock_Days = len(Ticker_adjclose)
Ticker_adjclose.tail(3)
#Open_Stock_Days

,open,high,low,close,adjclose,volume,ticker
2021-05-05,57.400002,58.880001,57.389999,58.240002,58.240002,7002800,EBAY
2021-05-06,58.150002,58.889999,57.759998,58.820000,58.820000,7583000,EBAY
2021-05-07,59.099998,60.009998,58.400002,59.779999,59.779999,10346800,EBAY

In [162]:
i = 0
while i < Open_Stock_Days:
    stored_days_adjclose_price.append(Ticker_adjclose['adjclose'][i])
    i+=1

In [163]:
(len(stored_days_adjclose_price))

168

In [164]:
#This gets the calculation for volatility
values = []
total = 0
average = 0
total1 = 0 
x = 0 

while x < (len(stored_days_adjclose_price) - 1):
    values.append(math.log((stored_days_adjclose_price[x+1]/(stored_days_adjclose_price[x]))))
    total += values[x]
    x += 1

average = total/(len(stored_days_adjclose_price)-1)

for x in values:
    total1 += (x - average) ** 2
    
Volatility = (total1/(len(stored_days_adjclose_price)-2)) ** .5

#This final steps makes it in annual volatility
Volatility = Volatility * (260 ** .5)

In [165]:
Volatility

0.3818887234589501